.nav{
    background-color: #1A187A;
    
}
.logo{
    height: 40px;
}
.carosel_title{
    padding: 60px;
}
.text_size1{
    font-size: 50px;

}
.btn_color{
    
    color: #1A187A;
}
.airpadbg{
    background: #ADC2D7;
}

.borderNone {
    border: none;
  }

.solid{
    border-top: 3px solid #000000;
}